doctype html
html
  head
    meta(charset='utf-8')
    meta(name='viewport' content='width=device-width, initial-scale=1.0')
    title Автопилот
    link(rel="stylesheet", href="main.css")
    body
      .header
        .top
          .left
            img.header-label(src="./static/images/fin.png" width='202' height='45' alt="")
            span.header-link
              a.header-link-link1(href='http://www.google.ru') Что такое ETF
            span.header-link2
              a.header-link-link2(href="") FAQ
          .rigth
            a.header-link-link3(href="") Узнать больше &nbsp; &#8594;
      .main
        .fon
          .fon-container
            .fon-text
              .fon-text-span уже более 20 миллиардов рублей
              .fon-text-span инвестиций зарабатывают
              .fon-text-span с помощью ETF
              a.button-number1(href="") начать инвестировать
          .fon-container-2
            .fon-container-2__content
              .ipad
              .fon-container-2__content-text
                h1.fon-container-2__content-text-title Начните инвестировать
                span.fon-container-2__content-text-present.
                  Думаете о сохранении и приумножении своих денежных
                  средств? Сбережение не
                  поможет. Станьте инвестором. Мы предлагаем современный способ вложениея денег, который давно стал
                  заменой депозита для евроепйских и американких частынх инвесторов даже при наличии небольшого
                  капитала. Бирежевые инвестиционные фонды ETF - это прозрачность, доступность и надежность
                  гарантированная российским и европейским регуляторами. Минимальный порог входа позволит Вам начать
                  комфортную работу с инструментом уже сегодня.
                h3.fon-container-2__content-text-title-2 Попробуй сформировать свой инвестиционный портфель
                a.fon-container-2__content-button(href="") Начать инвестировать
                .fon-container-2__content-numbers
                  .text-one
                    span.fon-container-2__content-numbers_number-1 2.8
                    span.fon-container-2__content-numbers-text-1 Трлн доллоров инвестированно в ETF в мире
                  .text-two
                    span.fon-container-2__content-numbers_number-2 109%
                    span.fon-container-2__content-numbers-text-2.
                      Доходность биржевого инвестиционного фонда ФинЭкс MSCI
                      акции IT-сектора США
                      (UCITS ETF) в 2014 г.
                  .text-three
                    span.fon-container-2__content-numbers_number-3 11
                    span.fon-container-2__content-numbers-text-3 ETF могут быть куплены и проданы Московской Бирже
          .fon-container-3
            .fon-container-3__content
              .fon-container-3__content-ipad
                .fon-container-3__content-ipad-ipad
                .fon-container-3__content-2-text
                  h1.fon-container-3__content-2-text-title-3 Почему нужно инвестировать
                  span.fon-container-3__content-2-text-present.
                    Газпромбанк предлагает своим клиентам заключить договор об обязательном пенсионном
                    страховании с ОАО "НПФ ГАЗФОНД пенсионные накопления" - одним из самых надежных и финансово устойчивых
                    негосударсвенных пенсионных фондов на рынке. С 01 января 2015 года Фонд под номером 1 внесен вреестр негосударсвенных пенсионных форндов-участников систымы.
                  a.fon-container-3__content-2-button начать инвестировать
          .fon-container-4
            .fon-container-4__content
              h1.fon-container-4__content-title Преимущества ETF
              .fon-container-4__content-windows
                ul.fon-container-4__content-windows-windows
                  li.col1
                    span.descr
                      h3.marg Инвестиция в зарубежные рынки и товары
                      p.marg Тут тожемогло быть что то интересное но в задании небыло текста.
                    img.one(src="./static/images/1.png" alt="" width="60" height="64")
                  li.col2
                    span.descr
                      h3.marg Ликвидные документы
                      p.marg.
                        Газпромбанк предлагает своим клиентам заключить договор об обязательном пенсионном
                        страховании самых надежных.
                    img.one(src="./static/images/2.png" alt="" width="59" height="57")
                  li.col3
                    span.descr
                      h3.marg Прозрачный инвестиционный портфель
                      p.marg Тут тожемогло быть что то интересное но в задании небыло текста.
                    img.one(src="./static/images/3.png" alt="" width="64" height="54")
                  li.col1
                    span.descr
                      h3.marg Гарантия европейского регулятора
                      p.marg Тут тожемогло быть что то интересное но в задании небыло текста.
                    img.one(src="./static/images/4.png" alt="" width="64" height="64")
                  li.col2
                    span.descr
                      h3.marg Минемальные инвестиции диверсифицированной
                      p.marg Тут тожемогло быть что то интересное но в задании небыло текста.
                    img.one(src="./static/images/5.png" alt="" width="64" height="64")
                  li.col3
                    span.descr
                      h3.marg Покупка на пряиую на Московской Бирже
                      p.marg Тут тожемогло быть что то интересное но в задании небыло текста.
                    img.one(src="./static/images/6.png" alt="" width="60" height="55")
              a.fon-container-4__content-button начать инвестировать
      footer
        .footer-box
          span.footer-text &copy; 2015 Finex-ETF
          span.footer-text2 Разработка интернет-агентство Future



